{%extends 'base.html'%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}Inicio{%endblock%}</title>
</head>

<body>
    {% block body %}
    <div class="card" style="width: 18rem;">
        <img src="https://files.catbox.moe/1bciej.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Ai Hoshino</h5>
            <p class="card-text">Ai Hoshino era una hermosa chica con los ojos de color degradado de morado a rosa, con
                una estrella de seis puntas en cada uno de sus ojos. Ella tenía el cabello de color morado. </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    {% endblock %}
</body>

</html>